html, body
{
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active
{
    border: 0;
    text-decoration: none;
    color: #FFFFFF;
}

body
{
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #5E89D0;
    color: #FFFFFF;
}

.page
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-shadow: 2px 2px 0px #556677;
}

.page ul 
{
    margin: 0;
    padding: 0;
    margin-top: 32px;
    padding-top: 32px; 
    padding-bottom: 32px;
    position: relative; 
}

.page h2, .page h3, .page p, .page ul
{
    padding-left: 32px;
    margin: 0em;
    margin-bottom: 16px;
}

.page h1
{
    font-size: 6em;
    padding-bottom: 16px;
    margin-bottom: 32px;
    border: 16px solid #5E89D0;
    border-bottom: 16px solid #5980C9;
    border-radius: 64px;
    text-shadow: -4px -5px 0px #A4F0F7, 6px -4px 0px #F0A4F7, -4px 5px 0px #F0A4A4, 6px 10px 0px #556677;
    letter-spacing:4px;
}

.page h1 a.header
{
    display: inline-block;
    color: #FFFFFF;
    padding-left: 32px;
}

.page h2
{
    font-style: italic;
    font-size: 2em;
}

.page h3
{
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
}

.page ul li
{
    margin-left: 0px;
    padding-left: 0;
    margin-bottom: 10px;
    list-style: none;
    line-height: 130%;
}

.page a
{
    color: #A4F0F7;
}

.page a:hover
{
    color: #F0F7A4;
}

p.footnote
{
    border: 16px solid #5E89D0;
    border-top: 16px solid #5980C9;
    border-radius: 64px;
    padding-top: 32px;
    font-style: italic;
    font-size: 0.8em;
}